:root {
  // Smoothing
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 2560px;
  margin: 0 auto;
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: var(--font-sf-pro-text);
}

html {
  scroll-behavior: smooth;
  scrollbar-color: var(--color-scrollbar) var(--color-track);
  scrollbar-width: thin;
  touch-action: manipulation;
}

html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

html::-webkit-scrollbar-track {
  background-color: var(--color-track);
}

html::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: var(--color-scrollbar);
}
