//# HelveticaNeueCyr (400, 500)
@font-face {
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/HelveticaNeueCyr Roman.woff2') format('woff2');
  font-family: 'HelveticaNeueCyr';
  font-display: block;
}

@font-face {
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/HelveticaNeueCyr Medium.woff2') format('woff2');
  font-family: 'HelveticaNeueCyr';
  font-display: block;
}

//# Roboto (500)
@font-face {
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Roboto Medium.woff2') format('woff2');
  font-family: 'Roboto';
  font-display: block;
}

//# SF Pro Display (300, 400, 500, 600)
@font-face {
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/SF Pro Display Light.woff2') format('woff2');
  font-family: 'SF Pro Display';
  font-display: block;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/SF Pro Display Regular.woff2') format('woff2');
  font-family: 'SF Pro Display';
  font-display: block;
}

@font-face {
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/SF Pro Display Medium.woff2') format('woff2');
  font-family: 'SF Pro Display';
  font-display: block;
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/SF Pro Display Semibold.woff2') format('woff2');
  font-family: 'SF Pro Display';
  font-display: block;
}

//# SF Pro Text (100, 300, 400, 400-italic, 500, 600, 700)
@font-face {
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/SF Pro Text Thin.woff2') format('woff2');
  font-family: 'SF Pro Text';
  font-display: block;
}

@font-face {
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/SF Pro Text Light.woff2') format('woff2');
  font-family: 'SF Pro Text';
  font-display: block;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/SF Pro Text Regular.woff2') format('woff2');
  font-family: 'SF Pro Text';
  font-display: block;
}

@font-face {
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/SF Pro Text Regular Italic.woff2') format('woff2');
  font-family: 'SF Pro Text';
  font-display: block;
}

@font-face {
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/SF Pro Text Medium.woff2') format('woff2');
  font-family: 'SF Pro Text';
  font-display: block;
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/SF Pro Text Semibold.woff2') format('woff2');
  font-family: 'SF Pro Text';
  font-display: block;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/SF Pro Text Bold.woff2') format('woff2');
  font-family: 'SF Pro Text';
  font-display: block;
}
