@use '/src/shared/mixins' as *;

:root {
  // Figma Colors
  --color-white: #fff;
  --color-black: #161c24;
  --color-light-grey: #c4cdd5;
  --color-grey: #454f5b;
  --color-stroke: #eaeaea;
  --color-primary: #00999e;
  --color-main: #4295e4;
  --color-main-hover: #56a9f8;
  --color-main-active: #2e81d0;
  --color-light-blue: #add7ff;
  --color-red: #e44286;
  --color-text-disable: #adadad;
  --color-bg-light: #f2f8ff;

  // Scrollbar Colors
  --color-scrollbar: var(--color-main);
  --color-track: rgba(255, 255, 255, 0.1);

  // Fonts
  --font-fallback: 'Helvetica', 'Arial', sans-serif;
  --font-sf-pro-text: 'SF Pro Text', var(--font-fallback);
  --font-sf-pro-display: 'SF Pro Display', var(--font-fallback);
  --font-roboto: 'Roboto', var(--font-fallback);
  --font-helvetica-neue-cyr: 'HelveticaNeueCyr', var(--font-fallback);

  // Times
  --time-hover-main: 300ms;
  --time-animate-button-mobile-nav: 300ms;
  --time-animate-catalog-image: 700ms;
  --time-animate-mobile-nav: #{$timeAnimateMobileNav}; // scss variable for export from scss

  // Borders
  --border-width-main: 2px;
  --border-radius-small: 5px;
  --border-radius-main: 10px;
  --outline-offset: 4px;
}
