@use '/src/shared/mixins' as *;

.buttonMobileNavPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  @include effect-focus-outline-main;

  &__line {
    width: 24px;
    height: 3px;
    border-radius: var(--border-radius-small);
    background-color: var(--color-black);

    &:nth-child(1) {
      transform-origin: top left;
      transition: transform var(--time-animate-button-mobile-nav-panel) ease-out;
    }
    &:nth-child(3) {
      transform-origin: bottom left;
      transition: transform var(--time-animate-button-mobile-nav-panel) ease-out;
    }

    &_active {
      &:nth-child(1) {
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        transform: scaleY(0);
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }
}
