@use '/src/shared/mixins' as *;

.cardDescription {
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  line-clamp: 5;
  overflow: hidden;
  color: var(--color-grey);
  @include font-sf-pro-text-regular(1.4rem, 171%);
}
