@use '/src/shared/mixins' as *;

.advantageIcon {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  @include media-initial {
    width: 6.4rem;
    height: 6.4rem;
  }

  @include media-desktop {
    width: 8.2rem;
    height: 8.2rem;
  }
}
