@use '/src/shared/mixins' as *;

.statElement {
  display: flex;
  flex-direction: column;
  text-align: center;
  @include media-initial {
    min-width: 15rem;
    gap: 0.8rem;
  }
  @include media-desktop {
    min-width: auto;
    gap: 1.6rem;
  }

  &__quantity {
    @include media-initial {
      @include font-semi-24_34;
    }
    @include media-desktop {
      @include font-semi-32_38;
    }
  }

  &__caption {
    color: var(--color-grey);
    white-space: nowrap;
    @include media-initial {
      @include font-14-reg-14_24;
    }
    @include media-desktop {
      @include font-16-semi-16_26;
    }
  }
}
