@use '/src/shared/mixins' as *;

.mobileNav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 2.5rem 1.6rem 0;
  border-right: 0.1rem solid var(--color-black);
  border-bottom: 0.1rem solid var(--color-black);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: rgba($color: var(--color-white), $alpha: 0.9);
  box-shadow:
    0.2rem 0.2rem 0.8rem var(--color-black),
    -0.2rem -0.2rem 0.8rem var(--color-black);

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
  }

  &__phones {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 6rem 0 3.8rem;

    @include media-initial {
      justify-content: space-between;
      gap: 2rem;
    }

    @include media-mobile-M {
      justify-content: flex-start;
      gap: 3.6rem;
    }
  }

  &__linkCallForm {
    color: var(--color-main);
    text-underline-offset: 0.3rem;
    @include font-sf-pro-display-semibold(1.6rem, 163%, 0.12em);
    @include effect-hover-color-grey;
    @include effect-focus-outline-main;
  }
}

.navElement {
  padding-bottom: 1.4rem;
  border-bottom: 0.1rem solid var(--color-stroke);

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-grey);
    @include font-16-reg-16_26;
    @include effect-hover-color-main;
    @include effect-focus-outline-main;
  }
}

.catalogArrow {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background-image: url('/icons/mobile-nav-element-arrow-black.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.enter {
  transform: translateX(-110%);
}

.enterActive {
  transform: translateX(0);
  transition: transform var(--time-animate-mobile-nav) ease-out;
}

.exit {
  transform: translateX(0);
}

.exitActive {
  transform: translateX(-110%);
  transition: transform var(--time-animate-mobile-nav) ease-out;
}

:export {
  timeAnimateMobileNav: #{$timeAnimateMobileNav};
}
