@use '/src/shared/mixins' as *;

.cardImage {
  aspect-ratio: 1/1;
  object-fit: contain;
  vertical-align: top;

  @include media-initial {
    width: 27.4rem;
  }

  @include media-desktop {
    width: 52.4rem;
  }
}
