@use '/src/shared/mixins' as *;

.productSale {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51px;
  height: 30px;
  border-radius: var(--border-radius-small);
  background-color: var(--color-white);
  background-color: gold;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.03);
  @include font-sf-pro-text-medium(12px);
}
