@use '/src/shared/mixins' as *;

.price {
  display: flex;
  align-items: center;

  &__text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &:after {
      content: '\20BD';
    }
    &_old {
      color: var(--color-text-through);
      text-decoration: line-through;
    }
  }
}
