@use '/src/shared/mixins' as *;

.linkCallForm {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.4rem;
  @include font-sf-pro-display-medium(1.6rem, 163%, 0.12em);
}
