@use '/src/shared/mixins' as *;

.productCard {
  position: relative;
  width: 28.8rem;
  border-radius: var(--border-radius-main);
  @include effect-card-shadow;

  &__imageContainer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 32rem;
    border-top-right-radius: var(--border-radius-main);
    border-top-left-radius: var(--border-radius-main);
    background-color: var(--color-bg-grey);
  }

  &__stock {
    position: absolute;
    top: 1.7rem;
    left: 1.2rem;
  }

  &__present {
    position: absolute;
    top: 4.9rem;
    left: 1.2rem;
  }

  &__image {
    margin-bottom: 1.2rem;
  }

  &__sale {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
  }

  &__info {
    padding: 1.1rem;
    border: 0.1rem solid var(--color-stroke);
    border-top: none;
    border-bottom-right-radius: var(--border-radius-main);
    border-bottom-left-radius: var(--border-radius-main);
  }

  &__rating {
    margin: -0.1rem 0 0.7rem;
  }

  &__title {
    margin-bottom: 1.1rem;
  }

  &__price {
    gap: 1.2rem;
  }

  &__newPrice {
    @include font-sf-pro-text-semibold(2rem, 2rem);
  }

  &__oldPrice {
    @include font-sf-pro-text-light(1.8rem, 2rem);
  }
}
