@use '/src/shared/mixins' as *;

.heroCard {
  &__content {
    display: flex;
    margin: 0 auto;
    @include media-initial {
      flex-direction: column;
      align-items: center;
      max-width: 34.3rem;
    }
    @include media-tablet {
      flex-direction: row;
      justify-content: center;
      max-width: 100%;
      gap: 6.7rem;
    }
    @include media-desktop {
      align-items: revert;
      justify-content: flex-end;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    @include media-initial {
      width: 100%;
    }
    @include media-tablet {
      width: 27.4rem;
    }
    @include media-desktop {
      width: 60.4rem;
    }
  }

  &__title {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    min-height: 2lh;
    line-clamp: 2;
    overflow: hidden;
    white-space: pre-wrap;
    @include media-initial {
      margin-top: 0.8rem;
    }
    @include media-desktop {
      margin-top: 4.9rem;
    }
  }

  &__description {
    max-width: 28.7rem;
    @include media-initial {
      display: none;
    }
    @include media-desktop {
      display: -webkit-box;
      margin: 1.9rem 0 auto;
    }
  }

  &__priceTitle {
    @include media-initial {
      margin-top: 2.4rem;
    }
    @include media-desktop {
      margin-top: 0;
    }
  }

  &__price {
    @include media-initial {
      margin-top: 0.4rem;
    }
    @include media-desktop {
      margin-top: 0.5rem;
    }
  }

  &__buttonMain {
    width: 100%;
    @include media-initial {
      margin-top: 1.5rem;
    }
    @include media-tablet {
      max-width: 22rem;
    }
    @include media-desktop {
      margin: 1.5rem 0 4.3rem;
    }
  }
}
