@use '/src/shared/mixins' as *;

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-grey);
  @include media-initial {
    min-height: 36px;
  }
  @include media-laptop {
    min-height: 44px;
  }

  &__text {
    padding: 8px;
    color: var(--color-white);
    text-align: center;
    @include media-initial {
      @include font-sf-pro-display-regular(12px, 100%, 0.02em);
    }
    @include media-laptop {
      max-width: calc(100% - 25vw); // max-width: calc(100% - 350px);
      @include font-sf-pro-display-medium(16px, 163%, 0.12em);
    }
  }
}
