@use '/src/shared/mixins' as *;

.banner {
  display: flex;
  align-items: center;
  background-color: var(--color-grey);
  color: var(--color-white);

  @include media-initial {
    min-height: 3.6rem;
  }

  @include media-laptop {
    min-height: 4.4rem;
  }

  &__content {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  &__text {
    padding: 0.8rem 0;
    text-align: center;

    @include media-initial {
      @include font-sf-pro-display-regular(1.2rem, 100%, 0.02em);
    }

    @include media-laptop {
      max-width: calc(100% - 35rem);
      @include font-sf-pro-display-medium(1.6rem, 163%, 0.12em);
    }
  }

  &__linkCallForm {
    position: absolute;
    right: 0;
    @include effect-hover-color-main;
    @include effect-focus-outline-main;

    @include media-initial {
      display: none;
    }

    @include media-laptop {
      display: revert;
    }
  }
}
