@use '/src/shared/mixins' as *;

.header {
  box-shadow: inset 0 -1px 0 0 var(--color-light-grey);

  &__content {
    display: flex;
    align-items: center;

    @include media-initial {
      justify-content: space-between;
      min-height: 70px;
    }

    @include media-laptop {
      justify-content: flex-start;
      min-height: 82px;
    }
  }

  &__buttonMobileNavPanel {
    @include media-laptop {
      display: none;
    }
  }
}
