@use '/src/shared/mixins' as *;

.cardTitle {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  line-clamp: 2;
  overflow: hidden;
  white-space: pre-wrap;

  @include media-initial {
    @include font-H1-mob;
  }

  @include media-desktop {
    @include font-H1;
  }
}
