@mixin effect-hover-color-main {
  @media screen and (hover: hover) {
    transition: color var(--time-hover-main);
    &:hover {
      color: var(--color-main);
    }
  }
}

@mixin effect-hover-color-grey {
  @media screen and (hover: hover) {
    transition: color var(--time-hover-main);
    &:hover {
      color: var(--color-grey);
    }
  }
}

@mixin effect-focus-outline-main {
  &:focus-visible {
    border-radius: var(--border-radius-small);
    outline: var(--color-main) var(--border-width-main) solid;
    outline-offset: var(--outline-offset);
  }
}

@mixin effect-hover-button-main {
  @media screen and (hover: hover) {
    &:not(:disabled):hover {
      background-color: var(--color-main-hover);
    }
  }
}

@mixin effect-active-button-main {
  &:not(:disabled):active {
    background-color: var(--color-main-active);
  }
}

@mixin effect-hover-two-icons {
  position: relative;
  &::before,
  &::after {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
  }
  &::before {
    visibility: visible;
    opacity: 1;
  }
  &::after {
    visibility: hidden;
    opacity: 0;
  }
  @media screen and (hover: hover) {
    &::before,
    &::after {
      transition:
        visibility var(--time-hover-main),
        opacity var(--time-hover-main);
    }
    &:hover {
      &::before {
        visibility: hidden;
        opacity: 0;
      }
      &::after {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

@mixin effect-hover-button-slide {
  @media screen and (hover: hover) {
    transition: background-color var(--time-hover-main);
    &:not(:disabled):hover {
      background-color: var(--color-light-blue);
    }
  }
}

@mixin effect-card-shadow {
  box-shadow:
    -8px -4px 8px 0px #ffffff,
    8px 4px 10px 0px #d1d9e6,
    4px 4px 4px 0px #d1d9e6,
    -4px -4px 4px 0px #ffffff;
  transition: box-shadow var(--time-hover-main) ease-out;
  @media screen and (hover: hover) {
    &:hover {
      box-shadow: none;
    }
  }
  &:active {
    box-shadow: none;
  }
}
