//# HelveticaNeueCyr (400, 500)
@mixin font-helvetica-neue-cyr-regular($_size, $_lineHeight: 1.2, $_letterSpacing: normal) {
  font-style: normal;
  font-weight: 400;
  font-size: $_size;
  line-height: $_lineHeight;
  font-family: var(--font-helvetica-neue-cyr);
  letter-spacing: $_letterSpacing;
}

@mixin font-helvetica-neue-cyr-medium($_size, $_lineHeight: 1.2, $_letterSpacing: normal) {
  font-style: normal;
  font-weight: 500;
  font-size: $_size;
  line-height: $_lineHeight;
  font-family: var(--font-helvetica-neue-cyr);
  letter-spacing: $_letterSpacing;
}

//# Roboto (500)
@mixin font-roboto-medium($_size, $_lineHeight: 1.2, $_letterSpacing: normal) {
  font-style: normal;
  font-weight: 500;
  font-size: $_size;
  line-height: $_lineHeight;
  font-family: var(--font-roboto);
  letter-spacing: $_letterSpacing;
}

//# SF Pro Display (300, 400, 500, 600)
@mixin font-sf-pro-display-light($_size, $_lineHeight: 1.2, $_letterSpacing: normal) {
  font-style: normal;
  font-weight: 300;
  font-size: $_size;
  line-height: $_lineHeight;
  font-family: var(--font-sf-pro-display);
  letter-spacing: $_letterSpacing;
}

@mixin font-sf-pro-display-regular($_size, $_lineHeight: 1.2, $_letterSpacing: normal) {
  font-style: normal;
  font-weight: 400;
  font-size: $_size;
  line-height: $_lineHeight;
  font-family: var(--font-sf-pro-display);
  letter-spacing: $_letterSpacing;
}

@mixin font-sf-pro-display-medium($_size, $_lineHeight: 1.2, $_letterSpacing: normal) {
  font-style: normal;
  font-weight: 500;
  font-size: $_size;
  line-height: $_lineHeight;
  font-family: var(--font-sf-pro-display);
  letter-spacing: $_letterSpacing;
}

@mixin font-sf-pro-display-semibold($_size, $_lineHeight: 1.2, $_letterSpacing: normal) {
  font-style: normal;
  font-weight: 600;
  font-size: $_size;
  line-height: $_lineHeight;
  font-family: var(--font-sf-pro-display);
  letter-spacing: $_letterSpacing;
}

//# SF Pro Text (100, 300, 400, 400-italic, 500, 600, 700)
@mixin font-sf-pro-text-thin($_size, $_lineHeight: 1.2, $_letterSpacing: normal) {
  font-style: normal;
  font-weight: 100;
  font-size: $_size;
  line-height: $_lineHeight;
  font-family: var(--font-sf-pro-text);
  letter-spacing: $_letterSpacing;
}

@mixin font-sf-pro-text-light($_size, $_lineHeight: 1.2, $_letterSpacing: normal) {
  font-style: normal;
  font-weight: 300;
  font-size: $_size;
  line-height: $_lineHeight;
  font-family: var(--font-sf-pro-text);
  letter-spacing: $_letterSpacing;
}

@mixin font-sf-pro-text-regular($_size, $_lineHeight: 1.2, $_letterSpacing: normal) {
  font-style: normal;
  font-weight: 400;
  font-size: $_size;
  line-height: $_lineHeight;
  font-family: var(--font-sf-pro-text);
  letter-spacing: $_letterSpacing;
}

@mixin font-sf-pro-text-regular-italic($_size, $_lineHeight: 1.2, $_letterSpacing: normal) {
  font-style: italic;
  font-weight: 400;
  font-size: $_size;
  line-height: $_lineHeight;
  font-family: var(--font-sf-pro-text);
  letter-spacing: $_letterSpacing;
}

@mixin font-sf-pro-text-medium($_size, $_lineHeight: 1.2, $_letterSpacing: normal) {
  font-style: normal;
  font-weight: 500;
  font-size: $_size;
  line-height: $_lineHeight;
  font-family: var(--font-sf-pro-text);
  letter-spacing: $_letterSpacing;
}

@mixin font-sf-pro-text-semibold($_size, $_lineHeight: 1.2, $_letterSpacing: normal) {
  font-style: normal;
  font-weight: 600;
  font-size: $_size;
  line-height: $_lineHeight;
  font-family: var(--font-sf-pro-text);
  letter-spacing: $_letterSpacing;
}

@mixin font-sf-pro-text-bold($_size, $_lineHeight: 1.2, $_letterSpacing: normal) {
  font-style: normal;
  font-weight: 700;
  font-size: $_size;
  line-height: $_lineHeight;
  font-family: var(--font-sf-pro-text);
  letter-spacing: $_letterSpacing;
}

//# Figma Project
@mixin font-H1 {
  font-style: normal;
  font-weight: 600;
  font-size: 4.4rem;
  line-height: 6.2rem;
  font-family: var(--font-sf-pro-text);
}

@mixin font-H1-mob {
  font-style: normal;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 3.4rem;
  font-family: var(--font-sf-pro-text);
}

@mixin font-button-txt {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-family: var(--font-sf-pro-display);
}

@mixin font-semi-32_38 {
  font-style: normal;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 3.8rem;
  font-family: var(--font-sf-pro-display);
}

@mixin font-bold-32_42 {
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.2rem;
  font-family: var(--font-sf-pro-text);
}

@mixin font-medium-18_28 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-family: var(--font-sf-pro-text);
}

@mixin font-semi-24_34 {
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.4rem;
  font-family: var(--font-sf-pro-display);
}

@mixin font-reg-18_32 {
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  font-family: var(--font-sf-pro-text);
}

@mixin font-reg-12_20 {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: var(--font-sf-pro-text);
}

@mixin font-20-medium-20_30 {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3rem;
  font-family: var(--font-sf-pro-text);
}

@mixin font-20-reg-20_32 {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.2rem;
  font-family: var(--font-sf-pro-text);
}

@mixin font-20-reg-20_30 {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  font-family: var(--font-sf-pro-text);
}

@mixin font-16-bold-16_26 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-family: var(--font-sf-pro-text);
}

@mixin font-16-semi-16_26 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-family: var(--font-sf-pro-text);
}

@mixin font-16-reg-16_26 {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-family: var(--font-sf-pro-text);
}

@mixin font-16-light-16_26 {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-family: var(--font-sf-pro-text);
}

@mixin font-16-medium-16_26 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-family: var(--font-sf-pro-text);
}

@mixin font-14-medium-14_24 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-family: var(--font-sf-pro-text);
}

@mixin font-14-light-14_24 {
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-family: var(--font-sf-pro-text);
}

@mixin font-14-reg-14_24 {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-family: var(--font-sf-pro-text);
}
